<div ng-controller="DashboardCtrl">
  <div class="text-center" ng-if="loading">
    <span>loading...</span>
  </div>
  <ul ng-if="messages.length" class="list-group">
    <li ng-repeat="message in messages" class="list-group-item" ng-bind-html="message.snippet"></li>
  </ul>
</div>
